<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Timelapse Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js"></script>
</head>
<body>
    <header>
        <h1>Timelapse Page</h1>
    </header>

    <main>
        <section id="latest-picture-section">
            <h2>Latest Picture:</h2>
            <img id="latest-picture" class="normal-size" src="{{ url_for('latest_picture') }}" alt="Latest Picture" onclick="toggleImageSize()">
        </section>
        <section id="timelapse-section">
            <form id="timelapse-form">
                <label for="folder-select">Select Date:</label>
                <select id="folder-select" name="folderSelect">
                    {% for folder in folder_list %}
                        <option value="{{ folder }}">{{ folder }}</option>
                    {% endfor %}
                </select>
                <label for="fps-select">Select Fps:</label>
                <select id="fps-select" name="fpsSelect">
                        <option value="15">15</option>
                        <option value="30">30</option>
                        <option value="60">60</option>
                        <option value="90">90</option>
                </select>
                
                <button type="submit" id="timelapse-btn">Create Timelapse</button>
                <div id="progress-container" style="display: none;">
                    <p>Progress: <span id="progress">0%</span></p>
                    <progress id="progress-bar" value="0" max="100"></progress>
                    <div id="time-remaining-container">
                        <p>Time Remaining: <span id="time-remaining">Calculating...</span> seconds</p>
                    </div>
                </div>
            </form>
        </section>

        <section id="video-section">
            {% if latest_video %}
                <h2>Latest Video:</h2>
                <video width="1920" height="1080" controls>
                    <source src="{{ url_for('video') }}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
                <p>Download the video: <a href="{{ url_for('video') }}" download>Download</a></p>
            {% else %}
                <p>No videos available yet.</p>
            {% endif %}
        </section>
    </main>

    <script>
        function toggleImageSize() {
    var latestPictureElement = document.getElementById('latest-picture');

    // Check if the image is currently at its normal size
    if (latestPictureElement.classList.contains('normal-size')) {
        // Switch to larger size
        latestPictureElement.classList.remove('normal-size');
        latestPictureElement.classList.add('larger-size');
    } else {
        // Switch to normal size
        latestPictureElement.classList.remove('larger-size');
        latestPictureElement.classList.add('normal-size');
    }
}

        var socket = io.connect('http://' + document.domain + ':' + location.port);
    
        socket.on('update_time_remaining', function(data) {
            var timeRemainingElement = document.getElementById('time-remaining');
            var timeRemainingContainer = document.getElementById('time-remaining-container');
    
            var remainingTimeInSeconds = Math.max(data.time_remaining, 0);
            var hours = Math.floor(remainingTimeInSeconds / 3600);
            var minutes = Math.floor((remainingTimeInSeconds % 3600) / 60);
            var seconds = Math.floor(remainingTimeInSeconds % 60);
    
            var formattedTime = pad(hours) + ':' + pad(minutes) + ':' + pad(seconds);
    
            timeRemainingElement.innerText = formattedTime;
    
            if (data.time_remaining > 0) {
                // Show the time remaining container if not already visible
                timeRemainingContainer.style.display = 'block';
            } else {
                // Hide the time remaining container when time remaining is 0 or less
                timeRemainingContainer.style.display = 'none';
            }
        });
    
        socket.on('update_progress', function(data) {
            var progressElement = document.getElementById('progress');
            var progressBar = document.getElementById('progress-bar');
    
            var roundedProgress = Math.floor(data.progress);
    
            progressElement.innerText = roundedProgress + '%';
            progressBar.value = data.progress;
    
            if (data.progress === 100) {
                // Hide the progress container when the progress reaches 100%
                document.getElementById('progress-container').style.display = 'none';
                // Enable the button
                document.getElementById('timelapse-btn').disabled = false;
                progressElement.innerText = '0' + '%';
                progressBar.value = 0;
            } else {
                // Show the progress container if not already visible
                document.getElementById('progress-container').style.display = 'block';
                // Disable the button
                document.getElementById('timelapse-btn').disabled = true;
            }
        });
    
        $(document).ready(function() {
    $('#timelapse-form').submit(function(event) {
        event.preventDefault();

        // Reset the progress bar and show the progress container
        var progressBar = document.getElementById('progress-bar');
        progressBar.value = 0;

        document.getElementById('progress-container').style.display = 'block';
        // Disable the button during processing
        document.getElementById('timelapse-btn').disabled = true;

        // Get the selected date from the dropdown
        var selectedDate = $('#folder-select').val();
        var selectedfps = $('#fps-select').val();

        // Use AJAX for form submission
        $.ajax({
            type: 'POST',
            url: '/create_timelapse',
            data: { 'selected_date': selectedDate,
            'selected_fps': selectedfps },  // Include the selected date in the request
            success: function() {
                // Form submission success
            },
            error: function() {
                // Form submission error
            }
        });
    });
});
    
    function pad(number) {
        return (number < 10 ? '0' : '') + number;
    }

// Function to update the latest picture
function updateLatestPicture() {
    var latestPictureElement = document.getElementById('latest-picture');
    var currentSrc = latestPictureElement.src;

    // Create a new Image object
    var tempImg = new Image();
    tempImg.onload = function() {
        // Once the image is loaded, update the source of the latest picture element
        latestPictureElement.src = this.src;
    };

    // Set the source of the temporary image to trigger the load event
    tempImg.src = '/latest_picture?' + new Date().getTime(); // Append a timestamp to ensure the image is not cached

    // Schedule the next update after 5 seconds
    setTimeout(updateLatestPicture, 10000);
}

// Call the function to start updating the latest picture
updateLatestPicture();

    </script>
</body>
</html>
